<ul class="list-group">
    <li class="list-group-item">Name: {{playerInfo.name}}</li>
    <li class="list-group-item">Nationality: {{playerInfo.nationality}}</li>
    <li class="list-group-item">National Position: {{playerInfo.national_position}}</li>
    <li class="list-group-item">National Kit: {{playerInfo.national_kit}}</li>
    <li class="list-group-item">Club: {{playerInfo.club}}</li>
    <li class="list-group-item">Club Position: {{playerInfo.club_position}}</li>
    <li class="list-group-item">Club Kit: {{playerInfo.club_kit}}</li>
    <li class="list-group-item">Club Joining: {{playerInfo.Club_joining}}</li>
    <li class="list-group-item">Contract Expiry: {{playerInfo.contract_expiry}}</li>
    <li class="list-group-item">Rating: {{playerInfo.rating}}</li>
    <li class="list-group-item">Height: {{playerInfo.height}}</li>
    <li class="list-group-item">Weight: {{playerInfo.weight}}</li>
    <li class="list-group-item">Preffered Foot: {{playerInfo.preffered_foot}}</li>
    <li class="list-group-item">Birth Date: {{playerInfo.birth_date}}</li>
    <li class="list-group-item">Age: {{playerInfo.age}}</li>
    <li class="list-group-item">Preffered Position: {{playerInfo.preffered_position}}</li>
    <li class="list-group-item">Work Rate: {{playerInfo.work_rate}}</li>
    <li class="list-group-item">Weak foot: {{playerInfo.weak_foot}}</li>
    <li class="list-group-item">Skill Moves: {{playerInfo.skill_moves}}</li>
    <li class="list-group-item">Ball Control: {{playerInfo.ball_control}}</li>
    <li class="list-group-item">Dribbling: {{playerInfo.dribbling}}</li>
    <li class="list-group-item">Marking: {{playerInfo.marking}}</li>
    <li class="list-group-item">Sliding Tackle: {{playerInfo.sliding_Tackle}}</li>
    <li class="list-group-item">Standing Tackle: {{playerInfo.standing_Tackle}}</li>
    <li class="list-group-item">Aggression: {{playerInfo.aggression}}</li>
    <li class="list-group-item">Reactions: {{playerInfo.reactions}}</li>
    <li class="list-group-item">Attacking Position: {{playerInfo.attacking_position}}</li>
    <li class="list-group-item">Interceptions: {{playerInfo.interceptions}}</li>
    <li class="list-group-item">Vision: {{playerInfo.vision}}</li>
    <li class="list-group-item">Composure: {{playerInfo.composure}}</li>
    <li class="list-group-item">Crossing: {{playerInfo.crossing}}</li>
    <li class="list-group-item">Short Pass: {{playerInfo.short_pass}}</li>
    <li class="list-group-item">Long Pass: {{playerInfo.long_pass}}</li>
    <li class="list-group-item">Acceleration: {{playerInfo.acceleration}}</li>
    <li class="list-group-item">Speed: {{playerInfo.speed}}</li>
    <li class="list-group-item">Stamina: {{playerInfo.stamina}}</li>
    <li class="list-group-item">Strength: {{playerInfo.strength}}</li>
    <li class="list-group-item">Balance: {{playerInfo.balance}}</li>
    <li class="list-group-item">Agility: {{playerInfo.agility}}</li>
    <li class="list-group-item">Jumping: {{playerInfo.jumping}}</li>
    <li class="list-group-item">Heading: {{playerInfo.heading}}</li>
    <li class="list-group-item">Shot Power: {{playerInfo.shot_power}}</li>
    <li class="list-group-item">Finishing: {{playerInfo.finishing}}</li>
    <li class="list-group-item">Long Shots: {{playerInfo.long_shots}}</li>
    <li class="list-group-item">Curve: {{playerInfo.curve}}</li>
    <li class="list-group-item">Freekick_Accuracy: {{playerInfo.freekick_accuracy}}</li>
    <li class="list-group-item">Penalties: {{playerInfo.penalties}}</li>
    <li class="list-group-item">Volleys: {{playerInfo.volleys}}</li>
    <li class="list-group-item">GK Positioning: {{playerInfo.gk_positioning}}</li>
    <li class="list-group-item">GK Diving: {{playerInfo.gk_diving}}</li>
    <li class="list-group-item">GK Kicking: {{playerInfo.gk_kicking}}</li>
    <li class="list-group-item">GK Handling: {{playerInfo.gk_handling}}</li>
    <li class="list-group-item">GK Reflexes: {{playerInfo.gk_reflexes}}</li>
</ul>